<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Générateur_de_mots_de_passe_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Générateur_de_mots_de_passe_3.Properties.Settings>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomChar" serializeAs="String">
                <value>A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,a,b,c,d,e,f,g,h,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,0,1,2,3,4,5,6,7,8,9,/,é,&amp;,ç,à</value>
            </setting>
            <setting name="CustomNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomRandom1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomRandom2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CharLenght" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultPreset" serializeAs="String">
                <value>Simple</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>fr-FR</value>
            </setting>
        </Générateur_de_mots_de_passe_3.Properties.Settings>
    </userSettings>
</configuration>